[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"
requests = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
